body {
	position: relative;
	width: 500px;
	margin: 0;
	border-radius: 6px;
	background-color: #FBFAFF;
	color: #1C1242;
	font-family: Montserrat, Roboto, sans-serif;
}

.container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	padding: 15px 15px;
}

.box {
	position: relative;
	border-radius: 5px;
	margin: 8px;
	padding: 20px 5px;
	box-sizing: border-box;
	width: calc(33.33% - 16px);
	/*height: 75px;*/
	box-shadow: 0 0 25px 0 rgba(0,0,0,0.05);
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.box-large {
	margin: 0 auto;
	margin-top: 8px;
	border-radius: 5px;
	width: calc(100% - 16px);
	padding: 25px 0;
	background-color: white;
	box-shadow: 0 0 25px 0 rgba(0,0,0,0.05);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.box-large label {
	font-weight: 700;
	font-size: 14px;
	margin-bottom: 10px;
}
.box-large .button {
	margin-left: 5px;
}

.button {
    padding: 8px 20px;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #be00ff;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition: background-color .2s ease-in;
}
.button:hover {
	background-color: #A618D7;
}

.margin-content {
	margin:0 auto;
}

.seeMore{
	background:url(/img/plus-button.svg) no-repeat;
	transition: all .2s ease-in-out;
	cursor: pointer;
	border:none;
	margin:0 auto;
	width: 30px;
	height:30px;
}

/*.seeMore:hover{
	transform: scale(1.2); 
}*/

.change {
	  background:url(/img/minus-button.svg) no-repeat;
}

.header-box {
	/*position: absolute;
	top: 10px;
	width: 100%;*/
	text-align: center;
	font-weight: 400;
	font-size: 12px;
    color: #1C1242;	
}

.content-box {
	/*height:75px;*/
	/*display: flex;*/
		/*justify-content: center;*/
	align-items: center;
	text-align: center;
	font-weight: 700;
	font-family: Arial black, Helvetica, sans-serif;
	margin-top: 6px;
	font-size: 16px;
    color: #1C1242;	
}


.content-box a {
	display: block;
	font-size: 12px;
	line-height: 1.4;
	font-weight: 700;
    color: #be00ff;
    transition: color .2s ease-in;
}
.content-box a:hover {
	color: #A618D7;
}
.content-box a:active {
	color: #be00ff;
}
.content-box a:visited {
	color: #be00ff;
}


footer {
	border-radius: 5px;
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer > div img {
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: 15px;
}
footer > div {
	display: flex;	
	align-items: center;
	position: relative;
	z-index: 100;
}
footer > div  i {
	font-size: 20px;
	margin:10px;
	position: relative;
	z-index: 100;
	cursor: pointer;
}

#Info .box {
	width: calc(50% - 16px);
}
#Info .box-large {
	margin-bottom: 8px;
	/*height: 70px;*/
	padding: 20px 0;
}

 ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#social-box ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
 #social-box ul li  {
	font-size: 32px;
	font-weight: 900;
	flex-grow: 0;
	cursor: pointer;
	transition: all .2s ease-in-out;
	margin: 0 10px;
}
 #social-box ul li:hover  {
	color: #be00ff;
}

#header {
	background: white;
	border-bottom: 1px solid #EDEDED;
}

#header ul {
	position: relative;
	display: flex;
}

#header ul li {
	width: 33%;
	text-align: center;
	cursor: pointer;
	margin:1px;
	font-size: 14px;
    font-weight: 400;
	text-align: center;
	height: 40px;
	line-height: 40px;
	color: #1C1242;
}

#header ul li.active {
    font-weight: 700;	
}

.border-right {
	border-right: 2px solid #FBFAFF;
}
.border-left {
	border-left: 2px solid #FBFAFF;
}

.hide {
	display: none;
}

input[type=text], select {
	padding: 7px 20px;
	font-size: 12px;
	/*margin: 8px 0;*/
	display: inline-block;
	border: 1px solid #EDEDED;
	border-radius: 4px;
	box-sizing: border-box;
}

.small-text {
	font-size: 12px;
	font-weight: 600;
}

.price_down {
	color:red;
}
.price_up {
	color:green;
}

a {
	text-decoration: none;
}